.main_list_div {
    display: flex;
    gap: 20px;
    padding: 20px;
    margin: 75px auto;
    width: 80%;
    border: 1px solid #fff;

}

.main_list_form {
    border: none;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    height: 200px;
    color: #000;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    /* 배경색과 그림자가 0.3초 동안 부드럽게 변화 */
    cursor: pointer;
}

.main_lit_form:hover {
    opacity: 0.8;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}